set ignorecase
set smartcase
set scrolloff=15
set number relativenumber
set hlsearch
set incsearch
set showmode
set showcmd
set history=100000
set nu
set clipboard+=unnamedplus, ideaput, autoselect
set matchpairs
set startofline
set visualbell
set timeout 500
" set notimeout

let mapleader = " "

" Enable Plugins
	set surround
	set multiple-cursors
	set commentary
	set argtextobj
	" set easymotion
	" set sneak
	set exchange
	set textobj-entire
	set ReplaceWithRegister
	set NERDTree
	set highlightedyank
	set which-key
	set vim-paragraph-motion

" Plugin Settings
	" let g:EasyMotion_do_mapping=0
	let g:argtextobj_pairs="[:],(:),<:>,{:}"

" Idea Settings
	set ideajoin
	set idearefactormode=keep

" Insert mode shortcut
	inoremap <C-h> <Left>
	inoremap <C-j> <Down>
	inoremap <C-k> <Up>
	inoremap <C-l> <Right>
	inoremap <C-a> <Home>
	inoremap <C-e> <End>
	inoremap <C-d> <Delete>

" Quit insert mode
	inoremap jk <Esc>
	inoremap jj <Esc>

" Movement Keys
    nnoremap <C-w> [w
    nnoremap <C-b> ]b
    vnoremap <C-w> [w
    vnoremap <C-b> [bl

" Move to the start and end of the line
	nnoremap H ^
	nnoremap L $
	vnoremap H ^
	vnoremap L $

" Selection
    nnoremap <C-S-w> :action EditorSelectWord<CR>
    vnoremap <C-S-w> :action EditorSelectWord<CR>
    nnoremap <C-S-b> :action EditorUnSelectWord<CR>
    vnoremap <C-S-b> :action EditorUnSelectWord<CR>

" Repurpose 'z'
	nnoremap zj o<Esc>k
	nnoremap zk O<Esc>j
    nnoremap zc :action EditorContextInfo<CR>
    nnoremap zP :action QuickTypeDefinition<CR>

" Key bindings for quickly moving between windows
	nnoremap <leader>h <C-w>h
	nnoremap <leader>l <C-w>l
	nnoremap <leader>k <C-w>k
	nnoremap <leader>j <C-w>j

" Miscellaneous
	nnoremap <leader><leader> :action RecentFiles<cr>
	nnoremap <leader>I :action SelectIn<cr>
    noremap <leader>ii :action ExpressionTypeInfo<CR>
	nnoremap <leader>ic :action InspectCode<cr>
	noremap <leader>S :action SurroundWith<cr>
	nnoremap \|\|  :action RecentLocations<cr>
	nnoremap \\\\ :action FindInPath<cr>
	nnoremap '' :action tasks.and.contexts<cr>
	nnoremap `` :action tasks.goto<cr>
	vnoremap v <Esc>
	nnoremap <leader>-= :set rnu!<cr>
	nnoremap <leader>` :action PinActiveTabToggle<cr>
	nnoremap <leader>~ :action RecentProjectListGroup<cr>
	nnoremap <leader>_ :action OpenProjectWindow<cr>

    nnoremap <CR><CR> :action ShowIntentionActions<CR>
    noremap <leader>= :action ReformatCode<CR>
    nnoremap <leader>0 :action HideAllWindows<cr>

" Closing tabs
	nnoremap <leader>cb :action CloseContent<cr>
	nnoremap <leader>ca :action CloseAllEditors<cr>
	nnoremap <leader>co :action CloseAllEditorsButActive<cr>
	nnoremap <leader>cp :action CloseProject<cr>
	nnoremap <leader>C :action ReopenClosedTab<cr>

" To navigate between split panes
	nnoremap <leader>wn :action NextSplitter<cr>
	nnoremap <leader>wp :action PrevSplitter<cr>
	nnoremap <C-h> :action PrevSplitter<cr>
	nnoremap <C-l> :action NextSplitter<cr>

" Splits manipulation
	nnoremap <leader>wh :action SplitHorizontally<cr>
	nnoremap <leader>wv :action SplitVertically<cr>
	nnoremap <leader>wc :action Unsplit<cr>
	nnoremap <leader>wC :action UnsplitAll<cr>
	nnoremap <leader>wo :action OpenEditorInOppositeTabGroup<cr>
        nnoremap <leader>wn :action EditSourceInNewWindow<cr>
	nnoremap <leader>ww :action JumpToLastWindow<cr>
	nnoremap <C-S-h> :action StretchSplitToLeft<cr>
	nnoremap <C-S-l> :action StretchSplitToRight<cr>

" Search
	nnoremap <leader>\ :action FileStructurePopup<cr>
	nnoremap / :action Find<CR>
	nnoremap <leader>/ /
	nnoremap <leader><Esc> :nohlsearch<CR>

" Navigation
	nnoremap <Tab> :action NextTab<cr>
	nnoremap <S-Tab> :action PreviousTab<cr>
	nnoremap <C-Tab> :tabm +1<cr>
	nnoremap <C-S-Tab> :tabm -1<cr>
	nnoremap <leader>. <C-^><cr>

" AceJump
	nnoremap f :action AceAction<cr>
	nnoremap <leader>af :action AceAction<cr>
	nnoremap <leader>aF :action AceReverseAction<cr>
	nnoremap <leader>ad :action AceDeclarationAction <cr>
	nnoremap <leader>al :action AceLineStartsAction <cr>
	nnoremap <leader>ai :action AceLineIndentsAction <cr>
	nnoremap <leader>aL :action AceLineEndsAction <cr>
	nnoremap <leader>at :action AceTargetAction <cr>

" Find
	nnoremap <leader>ff :action GotoFile<cr>
	nnoremap <leader>fs :action GotoSymbol<cr>
	nnoremap <leader>fa :action GotoAction<cr>
	nnoremap <leader>fc :action GotoClass<cr>
	nnoremap <leader>fu :action FindUsages<cr>
	nnoremap <leader>fU :action FindUsagesInFile<cr>

" Creating new elements
    nnoremap <leader>nc :action NewClass<cr>
    nnoremap <leader>nf :action NewFile<cr>
    nnoremap <leader>nn :action NewElement<cr>
    nnoremap <leader>nd :action NewDir<cr>
    nnoremap <leader>nD :action ShowBlankDiffWindow<cr>

" Show
	nnoremap <leader>su :action ShowUsages<cr>
	nnoremap <leader>sU :action FindUsagesInFile<cr>
	nnoremap <leader>sb :action ShowBookmarks<cr>
	nnoremap <leader>si :action QuickImplementations<cr>
	noremap <leader>sm :action ShowPopupMenu<CR>
    	nnoremap <leader>sh :action LocalHistory.ShowHistory<cr>
 	vnoremap <leader>sh :action LocalHistory.ShowSelectionHistory<cr>
 	vnoremap <leader>st :action TypeHierarchy<cr>
 	vnoremap <leader>sH :action Vcs.ShowTabbedFileHistory<cr>

" GoTo
	nnoremap gi :action GotoImplementation<cr>
	nnoremap gd :action GotoDeclaration<cr>
	nnoremap gr :action GotoRelated<cr>
	nnoremap gt :action GotoTest<cr>
	nnoremap gf :action GotoFile<cr>
	nnoremap gs :action GotoSuperMethod<cr>

" Generate
	nnoremap <leader>gg :action Generate<cr>
	nnoremap <leader>go :action OverrideMethods<cr>
	nnoremap <leader>gi :action ImplementMethods<cr>

" Bookmarks
    nnoremap <leader>bt :action ToggleBookmarkWithMnemonic<cr>
    nnoremap <leader>bb :action ToggleBookmark<cr>
    nnoremap <leader>be :action EditBookmark<cr>
    nnoremap <leader>bg :action Bookmarks.Goto<cr>

" Breakpoint
    nnoremap <leader>dbb :action ToggleLineBreakpoint<cr>
    nnoremap <leader>dbt :action ToggleBreakpointEnabled<cr>
    nnoremap <leader>dbe :action EditBreakpoint<cr>
    nnoremap <leader>dba :action BreakpointActionsGroup<cr>
    nnoremap <leader>dbv :action ViewBreakpoints<cr>

" Refactorings
	noremap <leader>rr :action Refactorings.QuickListPopupAction<cr>
	noremap <leader>rn :action RenameElement<cr>
	noremap <leader>rN :action RenameFile<cr>
	noremap <leader>rR :action Replace<cr>
	noremap <leader>rI :action OptimizeImports<cr>
	noremap <leader>rc :action IntroduceConstant<cr>
	noremap <leader>rv :action IntroduceVariable<cr>
	noremap <leader>rp :action IntroduceParameter<cr>
	noremap <leader>rs :action ChangeSignature<cr>
	noremap <leader>ri :action Inline<cr>
	" Java
        noremap <leader>rM :action ExtractMethod<cr>
        noremap <leader>rF :action IntroduceField<cr>
	" Kotlin
        noremap <leader>rm :action ExtractFunction<cr>
        noremap <leader>rf :action IntroduceProperty<cr>

" VCS operations
	nnoremap <leader>vc :action Vcs.Show.Local.Changes<cr>
	nnoremap <leader>vp :action Vcs.Push<cr>
	nnoremap <leader>vP :action Vcs.Push.Force<cr>
	nnoremap <leader>vu :action Vcs.UpdateProject<cr>
	nnoremap <leader>vm :action Vcs.QuickListPopupAction<cr>
	nnoremap <leader>va :action Annotate<cr>
	nnoremap <leader>vl :action Vcs.Show.Log<cr>
	nnoremap <leader>vd :action VcsShowCurrentChangeMarker<cr>
	nnoremap <leader>vD :action Compare.LastVersion<cr>
	noremap <leader>vr :action Vcs.RollbackChangedLines<cr>

" Registers
    vnoremap p "_dP
    vnoremap P "_dP

" Multi-cursor
    nnoremap <A-j> :action EditorCloneCaretBelow<CR>
    nnoremap <A-k> :action EditorCloneCaretAbove<CR>

    " https://youtrack.jetbrains.com/issue/VIM-2225/IdeaVim-in-Rider-action-Back-behaves-incorrectly#focus=Comments-27-4829085.0-0
	nmap [[ <Action>(Back)
	nmap ]] <Action>(Forward)

	" nnoremap [{ :action EditorCodeBlockStart<cr>
	" nnoremap ]} :action EditorCodeBlockEnd<cr>

	nnoremap [m :action MethodUp<cr>
	nnoremap ]m :action MethodDown<cr>

	nnoremap [c :action VcsShowPrevChangeMarker<cr>
	nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Errors
	nnoremap [e :action GotoPreviousError<cr>
	nnoremap ]e :action GotoNextError<cr>
	nnoremap <leader>ed :action ShowErrorDescription<cr>

" Bookmarks
	nnoremap [b :action GotoPreviousBookmark<cr>
	nnoremap ]b :action GotoNextBookmark<cr>

" Occurrence
    nnoremap [w #:nohlsearch<cr>
    nnoremap ]w *:nohlsearch<cr>

" Moving statements
	nnoremap [s :action MoveStatementUp<cr>
	nnoremap ]s :action MoveStatementDown<cr>

" Building, Running and Debugging
	nnoremap ,, :action RunConfiguration<cr>
	nnoremap ,s :action Stop<cr>
	nnoremap ,r :action Run<cr>
	nnoremap ,b :action BuildMenu<cr>
	nnoremap ,dd :action Debug<cr>
	nnoremap ,c :action RunClass<cr>
	nnoremap ,dc : DebugClass<cr>
	nnoremap ,t :action ShowRecentTests<cr>

" AMII
    nnoremap ;ad :action amii.discreet-mode<cr>
    nnoremap ;am :action AMIIActions<cr>

" String Manipulation
    noremap ;sc :action StringManipulation.Group.SwitchCase<cr>
    noremap ;sm :action StringManipulation.Group.Main<cr>
    noremap ;sC :action StringManipulation.ToCamelCase<cr>

" GoldenRation
	nnoremap ;gt :action actions.GoldenRationToggleAction<cr>
	nnoremap ;ga :action actions.GoldenRationApplyAction<cr>

" Harpoon
    nnoremap ;hh :action ca.alexgirard.harpoonIJ.mainGroup<cr>
    nnoremap ;hs :action ShowHarpoon<cr>
    nnoremap ;ha :action AddToHarpoon<cr>
    nnoremap ;;a :action GotoHarpoon5<cr>
    nnoremap ;;s :action GotoHarpoon4<cr>
    nnoremap ;;d :action GotoHarpoon3<cr>
    nnoremap ;;f :action GotoHarpoon2<cr>
    nnoremap ;;g :action GotoHarpoon1<cr>

sethandler <S-Tab> a:vim
sethandler <C-A>   a:vim
sethandler <C-B>   a:vim
sethandler <C-C>   a:vim
sethandler <C-D>   a:vim
sethandler <C-E>   a:vim
sethandler <C-H>   a:vim
sethandler <C-S-H> a:vim
sethandler <C-S-B> a:vim
sethandler <C-S-W> a:vim
sethandler <C-J>   a:vim
sethandler <C-K>   a:vim
sethandler <C-L>   a:vim
sethandler <C-S-L> a:vim
sethandler <C-M>   a:vim
sethandler <C-N>   a:vim
sethandler <C-O>   a:vim
sethandler <C-P>   a:vim
sethandler <C-Q>   a:ide
sethandler <C-R>   a:vim
sethandler <C-V>   a:vim
sethandler <C-W>   a:vim
sethandler <C-X>   a:vim
